@model CentroClinico.UI.MVC.Models.MVLogin

@{
  ViewData["Title"] = "Login";
}

<div class="login-grids">

  <div class="login-right">
    <h3>Sign in with your account</h3>
    <form asp-controller="Home" asp-action="Login" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="sign-in">
        <h4>Email :</h4>
        <input type="text" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>

      <div class="sign-in">
        <h4>Password :</h4>
        <input type="password" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
        <a href="#">Esqueceu a senha?</a>
      </div>

      <div class="sign-in">
        <input type="submit" value="Acessar">
      </div>
    </form>
  </div>

  <p>Ao acessar esse site você esta em comum acordo com os<a href="#">Termos e Condições/a> e <a href="#">Politicas de privacidade</a></p>
</div>

